@import url('https://use.fontawesome.com/releases/v5.4.1/css/all.css');
html{
    font:16px/1.5 "Verdana", sans-serif;
}
body{
    padding: 3rem;
    background: white;
}

.site-header{
    display: flex;
    justify-content: space-between;
}
.site-title{
   font-size: 2rem;
}
i{
   padding: 1rem;
}
